*/*
!include/*
!fd/*
account.php
ajax.php
avatar.php
bootstrap.php
captcha.php
client.inc.php
file.php
index.php
login.php
logo.php
logout.php
main.inc.php
manage.php
offline.php
open.php
profile.php
pwreset.php
secure.inc.php
tickets.php
view.php
web.config
ISSUE_TEMPLATE.md
