*/*
!plugins/*

.htaccess
.MANIFEST
ajax.admin.php
ajax.config.php
ajax.content.php
ajax.draft.php
ajax.export.php
ajax.filter.php
ajax.forms.php
ajax.i18n.php
ajax.kbase.php
ajax.note.php
ajax.orgs.php
ajax.schedule.php
ajax.search.php
ajax.sequence.php
ajax.staff.php
ajax.tasks.php
ajax.thread.php
ajax.tickets.php
ajax.tips.php
ajax.upgrader.php
ajax.users.php
api.cron.php
api.tickets.php
class.ajax.php
class.api.php
class.app.php
class.attachment.php
class.auth.php
class.avatar.php
class.banlist.php
class.base32.php
class.businesshours.php
class.canned.php
class.captcha.php
class.category.php
class.charset.php
class.cli.php
class.client.php
class.collaborator.php
class.company.php
class.config.php
class.cron.php
class.crypto.php
class.csrf.php
class.dept.php
class.dispatcher.php
class.draft.php
class.dynamic_forms.php
class.email.php
class.error.php
class.export.php
class.faq.php
class.file.php
class.filter.php
class.filter_action.php
class.format.php
class.forms.php
class.http.php
class.i18n.php
class.import.php
class.json.php
class.knowledgebase.php
class.list.php
class.lock.php
class.log.php
class.mailer.php
class.mailfetch.php
class.mailparse.php
class.message.php
class.migrater.php
class.misc.php
class.model.php
class.nav.php
class.note.php
class.organization.php
class.orm.php
class.osticket.php
class.ostsession.php
class.page.php
class.pagenate.php
class.passwd.php
class.pdf.php
class.plugin.php
class.priority.php
class.queue.php
class.report.php
class.role.php
class.schedule.php
class.search.php
class.sequence.php
class.setup.php
class.signal.php
class.sla.php
class.staff.php
class.task.php
class.team.php
class.template.php
class.thread.php
class.thread_actions.php
class.ticket.php
class.timezone.php
class.topic.php
class.translation.php
class.upgrader.php
class.user.php
class.usersession.php
class.util.php
class.validator.php
class.variable.php
class.xml.php
class.yaml.php
html2text.php
htmLawed.php
JSON.php
mysqli.php
ost-config.php
ost-sampleconfig.php
PasswordHash.php
UniversalClassLoader.php
tnef_decoder.php
Spyc.php

